 
a {
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: 0;
}

button {
    outline: 0;
    cursor: pointer;
}

.right-block {
    background: #eee;

    height: 1397px;

    width: 366px;
    position: absolute;
    right: -366px;
    //height: calc(~"100% + 128px");
    top: 0;

    & > nav, & > .callback-form, & > .reviews {
        display: block;
        overflow: hidden;
        transition: height 0.5s, padding 0.5s;
        height: 150px;
        padding: 30px;

        &.hidden {
            height: 0;
            padding: 0 30px;
        }
    }

    & > nav {
        background: #0A9DA5;
        height: 200px;

        & > a {
            display: block;
            color: white;
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 18px;
            opacity: 0.6;
            transition: opacity 0.2s;
            
            &.selected, &:hover {
                opacity: 1;
            }
        }
    }

    & > .links-contacts {
        margin-top: 44px;
    }

    & > .callback-form {
        background: #F06767;
        text-align: center;
        height: 400px;

        & > h4 {
            display: inline-block;
            font-size: 24px;
            margin: 0;
            text-transform: uppercase;
            color: white;
            opacity: 0.8;
        }

        & > input {
            display: block;
            height: 30px;
            padding: 10px;
            width: 287px;
            margin-top: 25px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 5px;
            color: white;
            transition: border-color 0.3s;

            &:focus {
                border-color: white;
            }

            &::-webkit-input-placeholder {
                color: white;
            }
        }
        
        & > button {
            border-radius: 50%;
            margin-top: 50px;
            height: 50px;
            width: 50px;
            font-size: 21px;
            background-color: rgba(255,255,255,0.7);
            border: none;
            color: #F06767;
            transition: background-color 0.4s;

            &:hover {
                background-color: rgba(255,255,255,0.9)
            }
        }

        & > .fail-msg {
            color: rgba(255,255,255,.8);
        }

        & > .success-msg {
            margin-top: 120px;
            font-size: 18px;
            color: white;
            opacity: 0.8;
        }
    }

    & > .reviews {
        background: #d3e97c;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 128px;
        width: 100%;
        background: linear-gradient(#eee 10%, #ddd 85%, #bbb 100%);
    }
}

