
body {
    background: #f3f3f3;
}

.container {
    margin: 30px;
    position: relative;
    box-shadow: 0 0 4px 1px #777;

    @media screen and (min-width: 1400px) {
        margin: 30px auto;
        width: 1340px;
    }
    
    header {
        width: 100%;
        height: 128px;
        background: linear-gradient(#bbb 0%, #ddd 15%, #eee 90%, #ccc 100%);
        
        & > .logo {
            width: 300px;
            height: 100px;
            
            background: url('../img/logo.png');
            background-repeat: no-repeat;
            padding: 15px 10px;
            background-position: 100px 25px;

            cursor: pointer;
        }
    }
}

.main-content {
    width: calc(~"100% - 366px");
    overflow: hidden;
}

@import 'right-block';

@import 'menu-item';

@import 'headling';
