
@import 'prefixer';

body {
    background: #f3f3f3;
}

.container {
    height: 1496px;
    margin: 30px;
    position: relative;
    box-shadow: 0 0 4px 1px #777;

    @media screen and (min-width: 1400px) {
        margin: 30px auto;
        width: 1340px;
    }
    
    header {
        width: 100%;
        height: 128px;
        background: linear-gradient(#bbb 0%, #ddd 15%, #eee 90%, #ccc 100%);
        
        .flex-block();
        justify-content: space-between;

        & > .logo {
            width: 300px;
            height: 100px;
            
            background: url('../img/logo.png');
            background-repeat: no-repeat;
            padding: 15px 10px;
            background-position: 100px 25px;

            cursor: pointer;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        width: calc(~"100% - 416px");
        padding: 25px;
        background: linear-gradient(#ccc 0%, #eee 10%, #ddd 85%,#bbb 100%);

        h5, .numbers-container > span {
            margin: 0;
            display: inline-block;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 24px;
            font-family: 'Oranienbaum', serif;
        }

        h5 {
            width: 274px;
            text-align: right;
        }

        .numbers-container {
            float: right;
            width: calc(~"100% - 350px");
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            & > span {
                display: inline-block;
                letter-spacing: 1px;
            }
        }

        .copyright {
            text-transform: uppercase;
            font-size: 14px;
            margin-left: 23px;
            margin-top: 23px;
            opacity: 0.3;
            font-family: 'Cairo', sans-serif;
        }
    }
}

.content {
    .flex-block();

    background: #000022;
    height: 1239px;

    & > .main-content {
        width: calc(~"100% - 366px");
//        overflow: hidden;
        position: relative;
    }
}

@import 'nav-icons';

@import 'right-block';

@import 'menu-item';

@import 'headling';

@import 'hotel-page';

@import 'pagination';

@import 'blog';